.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s;
}

.ex-2-square:active {
    width: 400px;
    height: 200px;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: transform 2s;
}

.ex-5-square:hover {
    transform: scale(1.7);
}

.ex-5-square:active {
    transform: scale(.3);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img {
    transition: filter 1s;
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

.ex-7-img {
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: invert(100%) brightness(400%);
}

.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    filter: sepia(50%) contrast(80%);
    border-radius: 10%;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: filter 2s, border-radius 2s, transform 2s;
}

.ex-9-img:hover {
    filter: drop-shadow(8px 8px 10px green) hue-rotate(90deg);
    border-radius: 10%;
    transform: scale(1.6);
}

.ex-10-icon {
    font-size: 60px;
    animation-name: spin;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    to {transform: rotate(360deg);}
}

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation-name: partial-spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes partial-spin {
    from {transform: rotate(0deg);}
    50% {transform: rotate(270deg);}
    to {transform: rotate(0deg);}
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f6f6f6;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f6f6f6;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white {
    animation-name: top-white-12;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: bottom-white-12;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes top-white-12 {
    from {left: 10%;}
    50% {left: 60%;}
    to {left: 10%;}
}

@keyframes bottom-white-12 {
    from {right: 20%;}
    50% {right: 50%;}
    to {right: 20%;}
}

.ex-13-button:hover .ex-13-top-white {
    animation-name: top-white-13;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation-name: bottom-white-13;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes top-white-13 {
    from {left: 10%;}
    30% {left: calc(100% - 30px); top: -10px}
    45% {left: calc(100% - 30px); top: calc(100% - 10px);}
    75% {left: -30px; top: calc(100% - 10px);}
    90% {left: -30px; top: -10px;}
    to {left: 10%;}
}

@keyframes bottom-white-13 {
    from {right: 20%;}
    30% {right: calc(100% - 30px); bottom: -10px}
    45% {right: calc(100% - 30px); bottom: calc(100% - 10px);}
    75% {right: -30px; bottom: calc(100% - 10px);}
    90% {right: -30px; bottom: -10px;}
    to {right: 20%;}
}
